body {
  color: #000;
  background: #F5E6CF;
  font-family: Roboto, Calibri, sans-serif;
}

h1 {
  font-family: Oswald, Cambria, serif;
}

#map2 {
  border: 5px solid #000;
  height: 500px;
}

footer {
  background: #000;
  color: #fff;
}
